<div class="content-container">
  <div class="row">
    <div class="col-md-2">
      <div id="sidebar">
        <label for="Categories"><span>Categories</span></label>
        <input type="checkbox" id="Categories">
        <div class="category-section">
          <div *ngFor="let category of categories" class="input-category">
            <input
              type="checkbox"
              name="{{ category.name }}"
              id="{{ category.name }}"
            />{{ category.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="categories">
        <div class="row">
          <div *ngFor="let category of categories" class="col-md-4">
            <div class="card" (click)="navigateTo(category.categoryId)">
              {{ category.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
