.content-container {
  margin-top: 2rem;
}

/* product list CSS */

.product{
  margin-top: 10px;
  padding-bottom: 10px;
}

.product hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-img {
  justify-content: center;
  align-items: center;
  float: left;
  width: 30%;
  height: 100%;
}

.product-img > img {
  width: 100%;
  margin: 5px;
  border-radius: 20px;
}

.product-details{
  position: relative;
  width: 65%;
  height: 100%;
  float: right;
}

.product-details>h3{
  margin-top: 20px;
  font-weight: bolder;
  font-size: 2rem;
}

.product-owner{
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(161, 168, 159);

}

.product-price{
    position: absolute;
    bottom: 0;
    right: 0;
    color: green;
    font-weight: bold;
    font-size: 1.5rem
}

.product-addresse{
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(145, 173, 140);;
}

.itemsPerPage{
  display: block;
  float: right;
  width: 75px;
}
