<div class="content-container">
  <div class="row">
    <div class="col-md-2">
      <div id="sidebar">
        <label for="Categories"><span>Categories</span></label>
        <input type="checkbox" id="Categories" checked/>
        <div class="category-section">
          <div *ngFor="let category of categories" class="input-category">
            <input
              type="checkbox"
              name="{{ category.name }}"
              id="{{ category.name }}"
            />{{ category.name }}
          </div>
        </div>
        <hr>
        <label for="Price"><span>Price</span></label>
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
        <hr>
        <label for="PriceSort"><span>Sort By Price</span></label>
        <input type="radio" name="PriceSort" id="Cheapest"><span>Cheapest</span><br>
        <input type="radio" name="PriceSort" id="Expensive"><span>Most Expensive</span>
        <hr>
        <label for="Date"><span>Sort By Date</span></label>
        <input type="radio" name="Date" id="Newest" value=1><span>Newest</span><br>
        <input type="radio" name="Date" id="Oldest" value=2><span>Oldest</span>
        <hr>
      </div>
    </div>
    <div class="col-md-10">
      <div class="categories">
        <div class="row">
          <div *ngFor="let category of categories" class="col-md-4">
            <div class="card" (click)="navigateTo(category.categoryId)">
              {{ category.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

