<div id="site-nav">
  <div class="web-container">
    <a [routerLink]="['/']" routerLinkActive="router-link-active">
      <div id="site-logo-header" route>
        <img src="#" alt="Logo Here" /><br />
        <span>Logo Moto Here</span>
      </div>
    </a>
    <nav class="navbar navbar-expand-lg justify-content-between">
      <form class="form-inline" (ngSubmit)="search()" #form="ngForm">
        <div class="row">
          <div class="col">
            <input
              [(ngModel)]="item.name"
              type="text"
              class="form-control"
              name="item"
              placeholder="Item..."
            />
          </div>
          <div class="col">
            <input
              [(ngModel)]="item.category"
              type="text"
              class="form-control"
              name="category"
              placeholder="Category... "
            />
          </div>
          <div class="col">
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </div>
        </div>
      </form>
      <!--Signin SECTION-->
      <div id="site-signing">
        <div class="row">
          <!--signin/signup button and Form-->
          <div class="col">
            <a *ngIf="!(accountService.currentUser$ |async)" class="btn btn-success" routerLink="/login" routerLinkActive="router-link-active">Sign In/Up </a>
          </div>
          <div class="col">
            <button
              type="submit"
              class="btn btn-outline-success"
              (click)="onLogout()"
              *ngIf="accountService.currentUser$ | async"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
