<nav
  class="navbar navbar-expand-lg navbar-scroll fixed-top shadow-0 border-bottom border-dark"
>
  <div class="container">
    <a class="navbar-brand" href="#!"><i class="fab fa-mdb fa-4x"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div
      [ngbCollapse]="isCollapsed"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="goHome()">Home</a>
        </li>
        <li
          class="nav-item"
          *ngIf="!(accountService.currentUser$ | async);else LogOut"
          #LogOut
        >
          <a class="nav-link" [routerLink]="['/login']">SignIn/Up</a>
        </li>
        <ng-template #LogOut>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/favorites']">Favorites</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/my-items']">My Items</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/insert-item']">Add Items</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/messages']">Messages</a></li>
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
