<div id="sidebar">
  <!-- <label for="Categories"><span>Categories</span></label>
  <input type="checkbox" id="Categories" checked />
  <div class="category-section">
    <div *ngFor="let category of categories" class="input-category">
      <a class="category" [routerLink]="['/category', category.categoryId]"
      routerLinkActive="router-link-active" >{{category.name}}</a>
    </div>
  </div>
  <hr />
  <label for="price"><span>Price</span></label>
  <ngx-slider
    [(value)]="minValue"
    [(highValue)]="maxValue"
    [options]="options"
    (userChangeEnd)="priceRangeEvent()"
  ></ngx-slider>
  <hr />
  <label for="priceSort"><span>Sort By Price</span></label>
  <input type="radio" name="priceSort" id="Cheapest" /><span
    >Cheapest</span
  ><br />
  <input type="radio" name="priceSort" id="Expensive" /><span
    >Most Expensive</span
  >
  <hr />
  <label for="date"><span>Sort By Date</span></label>
  <input type="radio" name="date" id="Newest" value="1" /><span
    >Newest</span
  ><br />
  <input type="radio" name="date" id="Oldest" value="2" /><span
    >Oldest</span
  >
  <hr /> -->
  <ng-container>
    <form [formGroup]="sideForm" (change)="searchEvent()">
      <div class="section">
        <label for="cheapest">Item:</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          name="name"
        />
      </div>
      <label for="Categories"><span>Categories</span></label>
      <input type="checkbox" id="Categories" checked />
      <div class="category-section">
        <div *ngFor="let category of categories">
          <input
          id="{{category.name}}"
            type="radio"
            value="{{ category.categoryId }}"
            formControlName="category"
            name="category"
          ><label for="{{category.name}}">{{ category.name }}</label>
        </div>
      </div>
      <div class="section">
        <label for="minPrice"><span>Min: </span></label>
        <input type="number" formControlName="minPrice" name="minPrice" min="0"/>
        <label for="maxPrice"><span>Max: </span></label>
        <input type="number" formControlName="maxPrice" name="maxPrice" min="1"/>
      </div>
      <div class="section">
        <input
          id="cheapest"
          type="radio"
          value="1"
          formControlName="sort"
          name="sort"
        /><label for="cheapest">Cheapest</label>
        <input
          id="expensive"
          type="radio"
          value="2"
          formControlName="sort"
          name="sort"
        /><label for="expensive">Most Expensive</label>
      </div>
      <div class="section">
        <input
          id="newest"
          type="radio"
          value="3"
          formControlName="sort"
          name="sort"
        /><label for="newest">Newest</label>
        <input
          id="oldest"
          type="radio"
          value="4"
          formControlName="sort"
          name="sort"
        /><label for="oldest">Oldest</label>
      </div>
      <div class="section">
        <button type="button" (click)="resetFilter()">Reset Filters</button>
      </div>
    </form>
  </ng-container>
</div>
